* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #cbebf9;
    min-height: 150vh;
    border: 10px solid #1b1c1c;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}
.top_section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 80px;
    font-weight: bold;
    color:#0b0b0a;
    text-transform: uppercase;
}

.top_section h2 {
    font-size: 30px;
    text-align: center;
}
.image_container {
    border-radius: 0%;
    overflow: hidden;
}
.image_container,img {
    width: 400px;
    height: 420px;
}
.about_section {
    margin-top: 50px;
}
.about_section h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }

.about_section p{
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography_section {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.2px;
}
.biography_section h3{
    margin-bottom: 20px;
}

.biography_section ul {
    margin-left: 50px;

}
.biography_section li{
    margin-bottom: 15px;
}

